.Menu {
    &__field {
            height: 100%;
            width: 400px;
            background: #e2dbdbad;
            border-radius: 30px;
            border: 6px solid #00000052;
            position: fixed;
            left: 99%;
            &:hover {
            left: 84%;
            }
    }
}