.Menu {
  &__field {
    background: #e2dbdbad;
    border-radius: 30px;
    border: 6px solid #00000052;
    position: fixed;
    right: 10px;
    top: 70px;
    padding: 20px;
    width: 100px;

    &__closed {
      display: none;
    }
    &__opened {
      display: inline-block;
    }
  }
}